*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}



h1{
    font-size: 3vw;
    padding-top: 2vw;
    text-align: center;

}

#rectangle{
    width: 30vw;
    height: 30vh;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    transition: all 0.2s linear;

}